{% extends "base.html" %}

{% block title %}
Addition
{% endblock %}

{% block body %}
<div class="form-parent">
<h1>Add New Animal</h1>
<form action="" method="post" enctype="multipart/form-data" class="evo-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.breed.label }}<br>
            {{ form.breed }}
        </p>
        <p>
            {{ form.genes.label }}<br>
            {{ form.genes(class_="chosen-select") }}
        </p>
        <p>
            {{ form.picture.label }}<br>
            {{ form.picture }}
        </p>
        <p>
            {{ form.forSale.label }}
            {{ form.forSale }}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
</div>


<script charset="utf-8" type="text/javascript">

$('.chosen-select').chosen({}).change( function(obj, result) {
    conso   le.debug("changed: %o", arguments);
    
    console.log("selected: " + result.selected);
});


$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        breed: $('#select_breed'),
        genes: $('#select_genes')
    };

    // call to update on load
    updateGenes();

    // function to call XHR and update county dropdown
    function updateGenes() {
        var send = {
            breed: dropdown.breed.val()
        };
        dropdown.genes.attr('disabled', 'disabled');
        dropdown.genes.empty();
        $.getJSON("{{ url_for('_get_genes') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.genes.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.genes.removeAttr('disabled');
        });
    }

    // event listener to breed dropdown change
    dropdown.breed.on('change', function() {
        updateGenes();
    });

});

</script>
{% endblock %}