{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<p>
  Welcome back, {{ current_user.firstname }} {{ current_user.lastname }}!
 </p>

  {% block content %}
  <p>
  	<table class="dash-table">
  	{% for item in data %}
  	<tr>
  		<td class="dash-item"><a href="#"><img class="dash-pic" src={{item.picture}}></a></img></td>
    	<td class="dash-item"><a href="#">{{item.name}}</a></td>
    	<td class="dash-item"><a href="#">{{item.bName}}</a></td>
	</tr>
 	{% endfor %}
 	</table>
  </p>
  {% endblock %}


{% endblock %}