{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EvoLution</a>
    </div>
    <ul class="nav navbar-nav">
      {% if current_user.is_authenticated %}
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/addition">Add New</a></li>
        <li><a href="/feed">Store</a></li>
  		  <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
      	<li><a href="/login">Login</a></li>
      	<li><a href="/signup">Signup</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  {% endblock %}