{% extends "base.html" %}

{% block title %}
Signup
{% endblock %}

{% block body %}
<div class="form-parent">
    <h1>Sign Up</h1>
    <form action="" method="post" novalidate class="evo-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=32) }}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}